{% extends "layout.njk" %}

{% block content %}
<div class="class">
    <section class="avatar" 
    style="background: url(https://source.unsplash.com/collection/9652635/200x200) no-repeat center center/ cover "></section>
    <section class="details">

        <h3>Detalhes</h3>

        <div class="item">
            <div>Gym Leader</div>
            <div>Korrina</div>
        </div>

         <div class="item">
            <div>Idade</div>
             <div>11</div>
         </div>

          <div class="item">
            <div>Sexo</div>
            <div>Feminino</div>
        </div>

         <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Treinadora do tipo lutador</span>
                <span>Patinadora</span>
            </div>
         </div>

        <div class="item">
            <div>Desde</div>
            <div>24/03/2015</div>
        </div>

    </section>

</div>
{% endblock content %}